<!DOCTYPE html>
<html lang="ru">
  <head>
    <link
      crossorigin="anonymous"
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css"
      integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD"
      rel="stylesheet"
    >

    <title>Timeshift</title>
  </head>
  <body>
    <div class="container">
      {% comment %} Блок ввода имени города. {% endcomment %}
      <div class="mt-5">
        <form autocomplete="off" method="post">
          {% csrf_token %}
          <input class="form-control mb-3" name="city_name">
          <input class="btn btn-primary" type="submit" value="Найти город">
        </form>
      </div>
      
      <hr>

      {% comment %} Блок вывода информации о городе. {% endcomment %}
      <div>
        {% if error %}
          <div>
            {{ error }}
          </div>
        {% elif name %}
          {{ name }} : {{ local_time }}
        {% endif %}
      </div>
    </div>
    

    <script lang="text/javascript">
      document.getElementsByName('city_name')[0].focus()
    </script>
  </body>
</html>