{% extends 'timeshift/base.html' %}

{% block content %}

      {% comment %} Блок ввода имени города {% endcomment %}
      <div class="mt-5">
        <form autocomplete="off" method="post">
          {% csrf_token %}
          <input class="form-control mb-3" name="city_name">
          <input
            class="btn btn-primary mb-3"
            type="submit"
            value="Найти город"
          >
        </form>
      </div>

      <hr>

      {% comment %} Вывод информации о городе {% endcomment %}
      {% if error %}
        <div class="alert alert-danger">
          {{ error }}
        </div>
      {% elif name %}
        <div>
          {{ name }}: {{ local_time }}
        </div>
      {% endif %}


{% endblock %}
